<br />

<br />

<!-- Butter -->
<table id="unopened">
<tbody>
<tr>
<th>(Unopened)</th>
<th>Refrigerator</th>
<th>Freezer</th>
</tr>
<tr>
<td></td>
<td style="text-align: center;">Past Printed Date</td>
<td>&nbsp;Past Printed Date</td>
</tr>
<tr class="alt">
<td><strong>Butter</strong>&nbsp;lasts for</td>
<td>1 Month</td>
<td>6-9 Months</td>
</tr>
<tr><td><strong>Butter with oil</strong>&nbsp;lasts for</td>
<td>2 Months</td>
<td>6-9 Months</td>
</tr>
<tr><th>(Opened)</th>
<th>Refrigerator</th>
<th>Freezer</th>
</tr>
<tr>
</tr><tr class="alt">
<td><strong>Butter</strong>&nbsp;lasts for</td>
<td>2 Weeks</td>
<td>6-9 Months</td>
</tr>
<tr><td><strong>Butter with oil</strong>&nbsp;lasts for</td>
<td>2-3 Weeks</td>
<td>6-9 Months</td>
</tr>
</tbody>
</table>

<!-- Cheese-->
<table>
<tbody>
<tr>
<th>(Unopened)</th>
<th>Fridge</th>
<th>Freezer</th>
</tr>
<tr>
<td></td>
<td style="text-align: center;"> Past Printed Date</td>
<td>Past Printed Date</td>
</tr>
<tr class="alt">
<td><strong>Hard Cheese (Parmesan, Asiago, Romano)</strong> lasts for</td>
<td>2-4 Months</td>
<td>6-8 Months</td>
</tr>
<tr>
<td><strong>Shredded Hard Cheese</strong> lasts for</td>
<td>1-2 Month</td>
<td>6-8 Months</td>
</tr>
<tr class="alt">
<td><strong>Semi-Hard Cheese Chunk (Cheddar, Swiss)</strong> lasts for</td>
<td>1-2 Months</td>
<td>6-8 Months</td>
</tr>
<tr>
<td><strong>Sliced Semi-Hard Cheese</strong> lasts for</td>
<td>1 Month</td>
<td>6-8 Months</td>
</tr>
<tr>
<th>(Opened)</th>
<th>Refrigerator</th>
<th>Freezer</th>
</tr>
<tr class="alt">
<td><strong>Hard Cheese Chunk (Parmesan, Asiago, Romano)</strong> lasts for</td>
<td>3-6 Weeks</td>
<td>6-8 Months</td>
</tr>
<tr>
<td><strong>Shredded Hard Cheese</strong> lasts for </td>
<td>3-4 Weeks</td>
<td>6-8 Months</td>
</tr>
<tr class="alt">
<td><strong>Semi-Hard Cheese Chunk</strong> lasts for</td>
<td>3-6 Weeks</td>
<td>6-8 Months</td>
</tr>
<tr>
<td><strong>Sliced Semi-Hard Cheese</strong> lasts for </td>
<td>2 Weeks</td>
<td>6-8 Months</td>
</tr>
</tbody>
</table>

<!-- Eggs-->
<table id="unopened">
<tbody>
<tr>
<th>(Unopened)</th>
<th>Refrigerator</th>
</tr>
<tr>
<td></td>
<td style="text-align: center;">Past Printed Date</td>
</tr>
<tr class="alt">
<td><strong>Lactose-Free Milk lasts</strong> for</td>
<td>7-10 Days</td>
</tr>
<tr>
<td><strong>Non-Fat Milk&nbsp;lasts</strong> for</td>
<td>7-10 Days</td>
</tr>
<tr class="alt">
<td><strong>Skim Milk&nbsp;lasts</strong> for</td>
<td>7 Days</td>
</tr>
<tr>
<td><strong>Reduced-Fat Milk lasts</strong> for</td>
<td>7 Days</td>
</tr>
<tr class="alt">
<td><strong>Whole Milk&nbsp;lasts</strong> for</td>
<td>5-7 Days</td>
</tr>
<tr><th>(Opened)</th>
<th>Refrigerator</th>
</tr>
<tr>
<td></td>
<td>Past Printed Date</td>
</tr>
<tr>
<td>All <strong>Milk lasts</strong> for</td>
<td>5-7 Days</td>
</tr>
</tbody>
</table>

<!-- Beef -->
<table id="unopened">
<tbody>
<tr>
<th>(Uncooked)</th>
<th>Refrigerator</th>
<th>Freezer</th>
</tr>
<tr>
<td></td>
<td style="text-align: center;">Past Printed Date</td>
<td style="text-align: center;">Past Printed Date</td>
</tr>
<tr class="alt">
<td><strong>Fresh Beef</strong>&nbsp;lasts for</td>
<td>1-2 Days</td>
<td>6-8 Months</td>
</tr>
<tr>
<td><strong>Ground Beef</strong> lasts for</td>
<td>1-2 Days</td>
<td>6-8 Months</td>
</tr>
<tr class="alt">
<td><strong>Corned Beef </strong> lasts for</td>
<td>1-2 Weeks</td>
<td>6-8 Months</td>
</tr>
<tr>
<td><strong>Steak</strong> lasts for</td>
<td>1-2 Days</td>
<td>6-8 Months</td>
</tr>
<tr>
<th>(Cooked)</th>
<th>Refrigerator</th>
<th>Freezer</th>
</tr>
<tr>
<td><strong>Beef or Steak</strong>&nbsp;lasts for</td>
<td>7 Days</td>
<td>6-8 Months</td>
</tr>
<tr class="alt">
<td><strong>Ground Beef</strong> lasts for</td>
<td>7 Days</td>
<td>6-8 Months</td>
</tr>
<tr>
<td><strong>Canned Beef (Opened)</strong>&nbsp;lasts for</td>
<td>7-10 Days</td>
<td>–</td>
</tr>
<tr class="alt">
<td><strong>Corned Beef </strong> lasts for</td>
<td>7-10 Days</td>
<td>–</td>
</tr>
</tbody>
</table>

<!-- Hamburger -->
<table>
<tbody>
<tr>
<th>(Unopened/Uncooked)</th>
<th>Refrigerator</th>
<th>Freezer</th>
</tr>
<tr>
<td></td>
<td style="text-align: center;">Past Printed Date</td>
<td style="text-align: center;">Past Printed Date</td>
</tr>
<tr class="alt">
<td><strong>Fresh Hamburgers</strong>&nbsp;last for</td>
<td>1-2 Days</td>
<td>6-8 Months</td>
</tr>
<tr>
<td><strong>Fresh Ground Turkey</strong>&nbsp;lasts for</td>
<td>1 Day</td>
<td>6-8 Months</td>
</tr>
<tr>
<th>(Opened/Cooked)</th>
<th>Refrigerator</th>
<th>Freezer</th>
</tr>
<tr class="alt">
<td><strong>Hamburgers</strong>&nbsp;last for</td>
<td>5-6 Days</td>
<td>4-6 Months</td>
</tr>
</tbody>
</table>

<!-- Chicken -->
<table id="unopened">
<tbody>
<tr>
<th>(Unopened)</th>
<th>Refrigerator</th>
<th>Freezer</th>
</tr>
<tr>
<td></td>
<td style="text-align: center;">&gt;Past Printed Date</td>
<td style="text-align: center;">Past Printed Date</td>
</tr>
<tr class="alt">
<td><strong>Fresh Chicken</strong>&nbsp;lasts for</td>
<td>1-2 Days</td>
<td>1 Year</td>
</tr>
<tr>
<td><strong>Cooked Chicken&nbsp;lasts</strong> for</td>
<td>7 Days</td>
<td>1 Year</td>
</tr>
<tr class="alt">
<td><strong>Roasted Chicken&nbsp;lasts</strong> for</td>
<td>7 Days</td>
<td>6-8 Months</td>
</tr>
<tr>
<th>(Opened)</th>
<th>Pantry</th>
<th>Fridge</th>
</tr>
<tr>
<td><strong>Canned Chicken&nbsp;lasts</strong> for</td>
<td>2-5 Years</td>
<td>7 Days</td>
</tr>
</tbody>
</table>

<!-- Turkey -->
<table id="unopened">
<tbody>
<tr>
<th>Unopened</th>
<th>Refrigerator</th>
<th>Freezer</th>
</tr>
<tr>
<td></td>
<td style="text-align: center;">Past Printed Date</td>
<td></td>
</tr>
<tr class="alt">
<td><strong>(Raw) Fresh Turkey&nbsp;lasts</strong> for</td>
<td>1-2 Days</td>
<td>6-8 Months</td>
</tr>
<tr>
<td><strong>(Raw) Ground Turkey&nbsp;lasts</strong> for</td>
<td>1-2 Days</td>
<td>6-8 Months</td>
</tr>
<tr>
<th>Opened</th>
<th>Refrigerator</th>
<th>Freezer</th>
</tr>
<tr class="alt">
<td><strong>Homemade Turkey Soup</strong> lasts for</td>
<td>5-6 Days</td>
<td>6-8 Months</td>
</tr>
<tr>
<td><strong>Cooked Turkey</strong> lasts for</td>
<td>7 Days</td>
<td>6-8 Months</td>
</tr>
<tr class="alt">
<td><strong>Turkey Salad</strong> lasts for</td>
<td>5-6 Days</td>
<td>–</td>
</tr>
<tr>
<td><strong>Thanksgiving Turkey</strong> lasts for</td>
<td>7 Days</td>
<td>6-8 Months</td>
</tr>
<tr class="alt">
<td><strong>Deli Turkey</strong> lasts for</td>
<td>5-6 Days</td>
<td>1 Month</td>
</tr>
</tbody>
</table>

<!-- Asparagus -->
<table id="unopened">
<tbody>
<tr>
<th></th>
<th>Fridge</th>
</tr>
<tr>
<td></td>
<td style="text-align: center;"></td>
</tr>
<tr class="alt">
<td><strong>Fresh Asparagus </strong>&nbsp;lasts for</td>
<td>5-7 Days</td>
</tr>
<tr>
<td><strong>Cooked Asparagus</strong>&nbsp;lasts for</td>
<td>5-7 Days</td>
</tr>
</tbody>
</table>

<!-- Lettuce -->
<table id="unopened">
<tbody>
<tr>
<th>(Unopened/Opened)</th>
<th>Refrigerator</th>
</tr>
<tr>
<td></td>
<td style="text-align: center;">Past Printed Date</td>
</tr>
<tr class="alt">
<td>Head <strong>Iceburg Lettuce lasts</strong> for</td>
<td>7-10 Days</td>
</tr>
<tr>
<td>Head <strong>Romaine Lettuce lasts</strong> for</td>
<td>7-10 Days</td>
</tr>
<tr class="alt">
<td>Head <strong>Leaf Lettuce lasts</strong> for</td>
<td>5-7 Days</td>
</tr>
<tr>
<td>Head <strong>Butter Lettuce lasts</strong> for</td>
<td>3-5 Days</td>
</tr>
<tr class="alt">
<td><strong>Chopped or Loose Lettuce</strong>&nbsp;lasts for</td>
<td>3-5 Days</td>
</tr>
<tr>
<td><strong>Fresh Express Lettuce&nbsp;lasts</strong> for</td>
<td>3-5 Days</td>
</tr>
</tbody>
</table>

<!-- Milk -->
<table id="unopened">
<tbody>
<tr>
<th>(Unopened)</th>
<th>Refrigerator</th>
</tr>
<tr>
<td></td>
<td style="text-align: center;">Past Printed Date</td>
</tr>
<tr class="alt">
<td><strong>Lactose-Free Milk lasts</strong> for</td>
<td>7-10 Days</td>
</tr>
<tr>
<td><strong>Non-Fat Milk&nbsp;lasts</strong> for</td>
<td>7-10 Days</td>
</tr>
<tr class="alt">
<td><strong>Skim Milk&nbsp;lasts</strong> for</td>
<td>7 Days</td>
</tr>
<tr>
<td><strong>Reduced-Fat Milk lasts</strong> for</td>
<td>7 Days</td>
</tr>
<tr class="alt">
<td><strong>Whole Milk&nbsp;lasts</strong> for</td>
<td>5-7 Days</td>
</tr>
<tr><th>(Opened)</th>
<th>Refrigerator</th>
</tr>
<tr>
<td></td>
<td>Past Printed Date</td>
</tr>
<tr>
<td>All <strong>Milk lasts</strong> for</td>
<td>5-7 Days</td>
</tr>
</tbody>
</table>

<!--Salad -->
<table id="unopened">
<tbody>
<tr>
<th></th>
<th>Refrigerator</th>
</tr>
<tr><td></td>
<td style="text-align: center;">Past Printed Date</td>
</tr>
<tr class="alt">
<td><strong>Packaged Lettuce </strong> lasts for</td>
<td>3-5 Days</td>
</tr>
<tr>
<td><strong>Caesar Salad (Undressed)</strong> lasts for</td>
<td>3-5 Days</td>
</tr>
<tr class="alt">
<td><strong>Green (Dressed)</strong> lasts for</td>
<td>3-5 Days</td>
</tr>
<tr>
<td><strong>Egg Salad (Undressed)</strong> lasts for</td>
<td>3-5 Days</td>
</tr>
<tr class="alt">
<td><strong>Chicken Salad</strong> lasts for</td>
<td>3-5 Days</td>
</tr>
<tr class="alt">
<td><strong>Tuna Salad</strong> lasts for</td>
<td>3-5 Days</td>
</tr>
<tr>
<td><strong>Potato Salad </strong> lasts for</td>
<td>3-5 Days</td>
</tr>
<tr class="alt">
<td><strong>Macaroni Salad </strong> lasts for</td>
<td>3-5 Days</td>
</tr>
<tr>
<td><strong>Pasta Salad (Non-mayonnaise)</strong> lasts for</td>
<td>5-7 Days</td>
</tr>
<tr class="alt">
<td><strong>Fresh Fruit Salad</strong> lasts for</td>
<td>3-5 Days</td>
</tr>
</tbody>
</table>

<!-- Fish -->
<table id="unopened">
<tbody>
<tr>
<th></th>
<th>Pantry</th>
<th>Fridge</th>
<th>Freezer</th>
</tr>
<tr>
<td></td>
<td style="text-align: center;">Past Printed Date</td>
<td style="text-align: center;">Past Printed Date</td>
<td style="text-align: center;">Past Printed Date</td>
</tr>
<tr class="alt">
<td><strong>Salmon</strong>&nbsp;lasts for</td>
<td>–</td>
<td>1-2 Days</td>
<td>6-9 Months</td>
</tr>
<tr>
<td><strong>Cod</strong>&nbsp;lasts for</td>
<td>–</td>
<td>1-2 Days</td>
<td>6-9 Months</td>
</tr>
<tr class="alt">
<td><strong>Halibut</strong>&nbsp;lasts for</td>
<td>–</td>
<td>1-2 Days</td>
<td>6-9 Months</td>
</tr>
<tr>
<td><strong>Ono</strong>&nbsp;lasts for</td>
<td>–</td>
<td>1-2 Days</td>
<td>6-9 Months</td>
</tr>
<tr class="alt">
<td><strong>Tilapia</strong>&nbsp;lasts for</td>
<td>–</td>
<td>1-2 Days</td>
<td>6-9 Months</td>
</tr>
<tr>
<td><strong>Catfish</strong>&nbsp;lasts for</td>
<td>–</td>
<td>1-2 Days</td>
<td>6-9 Months</td>
</tr>
<tr>
<td><strong>Cooked Fish</strong>&nbsp;lasts for</td>
<td>–</td>
<td>5-6 Days</td>
<td>6-9 Months</td>
</tr>
<tr class="alt">
<td><strong>Smoked Salmon</strong>&nbsp;lasts for</td>
<td>–</td>
<td>5-7 Days</td>
<td>3-6 Months</td>
</tr>
<tr>
<td><strong>Canned Tuna</strong>&nbsp;lasts for</td>
<td>9-12 Months</td>
<td>5-7 Days</td>
<td>–</td>
</tr>
<tr class="alt">
<td><strong>Sardines</strong>&nbsp;last for</td>
<td>9-12 Months</td>
<td>5-7 Days</td>
<td>–</td>
</tr>
</tbody>
</table>

<!-- Shrimp -->
<table id="unopened">
<tbody>
<tr>
<th>(Unopened/Raw)</th>
<th>Refrigerator</th>
<th>Freezer</th>
</tr>
<tr>
<td></td>
<td style="text-align: center;">Past Printed Date</td>
<td style="text-align: center;">Past Printed Date</td>
</tr>
<tr class="alt">
<td><strong>Fresh Shrimp</strong>&nbsp;lasts for</td>
<td>1-2 Days</td>
<td>6-8 Months</td>
</tr>
<tr>
<th>(Opened/Cooked)</th>
<th>Refrigerator</th>
<th>Freezer</th>
</tr>
<tr>
<td><strong>Shrimp</strong>&nbsp;lasts for</td>
<td>5-7 Days</td>
<td>6-8 Months</td>
</tr>
<tr class="alt">
<td><strong>Canned Shrimp</strong>&nbsp;lasts for</td>
<td>5-7 Days</td>
<td>–</td>
</tr>
</tbody>
</table>

<!-- Salmon -->
<table id="unopened">
<tbody>
<tr>
<th></th>
<th>Pantry</th>
<th>Fridge</th>
<th>Freezer</th>
</tr>
<tr>
<td></td>
<td style="text-align: center;">Past Printed Date</td>
<td style="text-align: center;">Past Printed Date</td>
<td style="text-align: center;">Past Printed Date</td>
</tr>
<tr class="alt">
<td><strong>Fresh Salmon&nbsp;lasts</strong> for</td>
<td>–</td>
<td>1-2 Days</td>
<td>6-9 Months</td>
</tr>
<tr>
<td><strong>Smoked Salmon&nbsp;lasts</strong> for</td>
<td>1-2 Weeks*</td>
<td>5-7 Days</td>
<td>6-9 Months</td>
</tr>
<tr class="alt">
<td><strong>Canned Salmon&nbsp;lasts</strong> for</td>
<td>6-8 Months</td>
<td>6-8 Months</td>
<td>9-12 Months**</td>
</tr>
<tr>
<td><strong>Cooked Salmon&lt;&nbsp;lasts/strong&gt; for</strong></td>
<td>–</td>
<td>5-6 Days</td>
<td>6-9 Months</td>
</tr>
<tr class="alt">
<td><strong>Frozen Salmon&nbsp;lasts</strong> for</td>
<td>–</td>
<td>4-5 Days</td>
<td>6-9 Months</td>
</tr>
</tbody>
</table>

<!-- Banana -->
<table id="unopened">
<tbody>
<tr>
<th></th>
<th>Counter</th>
<th>Refrigerator</th>
<th>Freezer</th>
</tr>
<tr class="alt">
<td><strong>Fresh Bananas</strong>&nbsp;last for</td>
<td>2-7 Days</td>
<td>2-9 Days</td>
<td>2-3 Months</td>
</tr>
</tbody>
</table>

<!-- Apple -->
<table id="unopened">
<tbody>
<tr>
<th>(Unopened)</th>
<th>Pantry</th>
<th>Refrigerator</th>
</tr>
<tr class="alt">
<td><strong>Fresh Apples</strong> lasts for</td>
<td>2-4 Weeks</td>
<td>1-2 Months</td>
</tr>
<tr>
<td><strong>Packaged Fresh Cut Apples</strong> lasts for</td>
<td>–</td>
<td>3-5 Days</td>
</tr>
<tr class="alt">
<td><strong>Applesauce</strong> lasts for</td>
<td>1-2 Months (Unopened)</td>
<td>1-2 Weeks (Open)</td>
</tr>
<tr>
<td><strong>Apple Pie</strong> lasts for</td>
<td>1-2 Days</td>
<td>4-5 Days</td>
</tr>
</tbody>
</table>

<!-- Peanut Butter -->
<table id="unopened">
<tbody>
<tr>
<th>(Unopened)</th>
<th>Pantry</th>
<th>Refrigerator</th>
</tr>
<tr>
<td></td>
<td style="text-align: center;">Past Printed Date</td>
<td style="text-align: center;">Past Printed Date</td>
</tr>
<tr class="alt">
<td><strong>Smooth Peanut Butter&nbsp;lasts</strong> for</td>
<td>1 Year</td>
<td>1 Year</td>
</tr>
<tr>
<td><strong>Crunchy Peanut Butter lasts</strong> for</td>
<td>1 Year</td>
<td>1 Year</td>
</tr>
<tr class="alt">
<td><strong>Natural Peanut Butter&nbsp;lasts</strong> for</td>
<td>2-3 Months</td>
<td>3-6 Months</td>
</tr>
<tr>
<th>(Opened)</th>
<th>Pantry</th>
<th>Refrigerator</th>
</tr>
<tr class="alt">
<td><strong>Homemade Peanut Butter</strong> lasts for</td>
<td>–</td>
<td>3-6 Months</td>
</tr><tr>
<td><strong>Natural Peanut Butter</strong> lasts for</td>
<td>–</td>
<td>5-6 Months</td>
</tr>
<tr class="alt">
<td><strong>Smooth Peanut Butter</strong> lasts for</td>
<td>3-4 Months</td>
<td>6-8 Months</td>
</tr>
<tr>
<td><strong>Crunchy Peanut Butter</strong> lasts for</td>
<td>3-4 Months</td>
<td>6-8 Months</td>
</tr>
</tbody>
</table>

<!-- Milk Alternatives -->
<table id="unopened">
<tbody>
<tr>
<th>(Unopened)</th>
<th>Pantry</th>
</tr>
<tr>
<td>Unrefrigerated Packaging</td>
<td style="text-align: center;">Past Printed Date</td>
</tr>
<tr class="alt">
<td><strong>Soy Milk</strong>&nbsp;lasts for </td>
<td>1 Month</td>
</tr>
<tr>
<td><strong>Almond Milk</strong>&nbsp;lasts for </td>
<td>1 Month</td>
</tr>
<tr class="alt">
<td><strong>Rice Milk</strong>&nbsp;lasts for </td>
<td>1 Month</td>
</tr>
<tr>
<td><strong>Cocount Milk</strong>&nbsp;lasts for </td>
<td>1 Month</td>
</tr>
<tr>
<th>(Unopened)</th>
<th>Refrigerator</th>
</tr>
<tr>
<td>Refrigerated Packaging</td>
<td style="text-align: center;">Past Printed Date</td>
</tr>
<tr class="alt">
<td><strong>Soy Milk</strong>&nbsp;lasts for </td>
<td>7-10 Days</td>
</tr>
<tr>
<td><strong>Rice Milk</strong>&nbsp;lasts for </td>
<td>7-10 Days</td>
</tr>
<tr class="alt">
<td><strong>Almond Milk</strong>&nbsp;lasts for </td>
<td>7-10 Days</td>
</tr>
<tr>
<td><strong>Coconut Milk</strong>&nbsp;lasts for </td>
<td>7-10 Days</td>
</tr>
<tr class="alt">
<td><strong>Hemp Milk</strong>&nbsp;lasts for </td>
<td>7-10 Days</td>
</tr>
<tr>
<th>(Opened)</th>
<th>Refrigerator</th>
</tr>
<tr>
<td>All Open Packages</td>
<td style="text-align: center;">Past Printed Date</td>
</tr>
<tr class="alt">
<td><strong>All Milk Alternatives</strong>&nbsp;last for </td>
<td>5-7 Days</td>
</tr>
</tbody>
</table>

<!-- Deli Meat -->
<table id="unopened">
<tbody>
<tr>
<th>(Unopened)</th>
<th>Refrigerator</th>
<th>Freezer</th>
</tr>
<tr>
<td></td>
<td style="text-align: center;">Past Printed Date</td>
<td style="text-align: center;">Past Printed Date</td>
</tr>
<tr class="alt">
<td><strong>Fresh Deli Meats&nbsp;last</strong> for</td>
<td>5-6 Days</td>
<td>–</td>
</tr>
<tr>
<td><strong>Pre-packaged Deli Meats last</strong> for</td>
<td>7-10 Days</td>
<td>6-8 Months</td>
</tr>
<tr class="alt">
<td><strong>Bologna&nbsp;lasts</strong> for</td>
<td>1-2 Weeks</td>
<td>2-3 Months</td>
</tr>
<tr>
<td><strong>Salami (hard)*</strong> lasts for</td>
<td>3-4 Weeks</td>
<td>2-3 Months</td>
</tr>
<tr>
<th>(Opened)</th>
<th>Refrigerator</th>
<th>Freezer</th>
</tr>
<tr class="alt">
<td><strong>Fresh Deli Meats&nbsp;last</strong> for</td>
<td>5-6 Days</td>
<td>–</td>
</tr>
<tr>
<td><strong>Packaged Lunch Meat lasts</strong> for</td>
<td>7-10 Days</td>
<td>–</td>
</tr>
<tr class="alt">
<td><strong>Bologna&nbsp;lasts</strong> for</td>
<td>1-2 Weeks</td>
<td>1-2 Months</td>
</tr>
<tr>
<td><strong>Salami (hard)*</strong> lasts for</td>
<td>2-3 Weeks</td>
<td>2-3 Months</td>
</tr>
<tr class="alt">
<td><strong>Pepperoni&nbsp;lasts</strong> for</td>
<td>2-3 Weeks</td>
<td>6-8 Months</td>
</tr>
</tbody>
</table>

