<div class="splash">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
        	<br />
          <h1>
            Understand The Shelf Life
          </h1>
          <h2>
            Edibly is a Mobile Application for iOS
            <br/>
            Be a Food Leader &amp; Scan Your Food
            <br/>
            Tweet us @EdiblyApp
            <br />
            <br />

            <div id="mc_embed_signup" class="col-md-4">
            <form action="http://herokuapp.us3.list-manage2.com/subscribe/post?u=18e377a70d4036ab5c88e7fb7&amp;id=4de944813f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <label for="mce-EMAIL"></label>
              <input type="email" value="" name="EMAIL" class="col-mid-4" id="mce-EMAIL" placeholder="email address" required>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </form>
            </div>

            <%= link_to(image_tag('appicon.png'), 'https://itunes.apple.com/us/app/hat-trick-daily-sports-trivia/id722427984?ls=1&mt=8') %>

          </h2>
          <br />
          <br />
        </div>
        <div class="col-md-4">
          <%= image_tag 'foodsplash.png' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <h1>Sample Datasets</h1>
    <div class="row">
      <div class="col-md-6">
        <h2>Always Up to Date</h2>
        <p>
          We've got data from this weekend's API powered by 
          <%= link_to 'Mashery', 'http://www.mashery.com/customers/foodessentials' %>
        </p>
        <div class="jumbotron">
          <h3>Match your UPC to a product </h3>
            <ul>
              <li>UPC: 082666711001, Food: Apple</li>
              <li>UPC: 657622119025, Food: Kale</li>
              <li>UPC: 725865390214, Food: Milk</li>
              <li>UPC: 720042398421, Food: Eggs</li>
            </ul>
          </h3>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Tons of Data</h2>
        <p>A database full of informative dates</p>
        <div class="jumbotron">
          <h3>Real Expiration &amp Alternative Look up</h3>
            <ul>
              <li>Freeze By</li>
              <li>Donate By</li>
              <li>Expire By</li>
              <li>Compost By</li>
            </ul>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
